/* Reset CSS by Amaka Ndukwu */

/* making use of :where to allow for low specificity making it easy to override */


/* 1. border-box for box model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. remove default margin 
padding is optional but i do this because of lists*/

:where(:not(dialog)) {
    margin: 0;
    padding: 0;
}


/* 3. great for in-page linking */
@media(prefers-reduced-motion:no-preference) {
    :where(html) {
        scroll-behavior: smooth;
    }
}

/* 4. line height and text rendering improvement */
:where(html) {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 5. ensure full viewport height */
:where(html, body) {
    min-block-size: 100%;
}

/* 6. improve line wrapping */
:where(h1, h2, h3,
    h4, h5, h6) {
    text-wrap: balance;
}

:where(p) {
    text-wrap: pretty;
}

:where(figure)>:where(figcaption) {
    text-wrap: balance;
}

:where(p, h1, h2, h3,
    h4, h5, h6) {
    overflow-wrap: break-word;
}



/* 7. making media elements block-level */
:where(img,
    svg,
    video,
    canvas,
    picture,
    audio,
    iframe,
    embed,
    object) {
    display: block
}

:where(img, svg, video, canvas, picture) {
    block-size: auto;
    max-inline-size: 100%
}

/* 8. inherit font and letter spacing for form controls */
:where(input,
    button,
    textarea,
    select),
:where(input[type=file])::-webkit-file-upload-button {
    font: inherit;
    letter-spacing: inherit
}

/* 9. textarea can only resized vertically and will grow to adjust its content */
:where(textarea) {
    resize: vertical;
   field-sizing: content;
}

/* 10. table */
:where(table) {
    width: fit-content;
    border-collapse: collapse;
}

:where(pre) {
    direction: ltr;
    max-inline-size: max-content;
    min-inline-size: 0;
    white-space: pre;
    writing-mode: lr
}

:where(a[href],
    area,
    button,
    input:not([type=text],
        [type=email],
        [type=number],
        [type=password],
        [type=""],
        [type=tel],
        [type=url]),
    label[for],
    select,
    summary,
    [tabindex]:not([tabindex*="-"],
        pre)) {
    cursor: pointer
}

/*  this will disable additional non-standard gestures such as double-tap to zoom*/
:where(a[href],
    area,
    button,
    input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*="-"])) {
    touch-action: manipulation
}

/* my own css */

html, body{
   height:100vh;
}

body {
    background-color: #00c1b5;
    font-family: "Crimson Text", serif;
    padding:20px;
}

h1 {
    font-family: "Bitter", serif;
    font-weight: 800;
    text-transform:uppercase;
    letter-spacing: 1px;
    display: inline-block; 
    font-size: 6vw;
}

.text-bold {
    font-weight: 700;
    text-align: center;
}

.text-bold * + * {
    margin-top:-10px;
}

.text-bold a {
   color: #fff;
   text-decoration:none;
}

img {
    width:100%;
    max-width: 500px;
    height:auto;
    object-fit: contain;
    margin-left:auto;
    margin-right:auto;
}

/* .float-right {
    float:right;
} */


/* TO DO LIST
 FLEX LAYOUT PRACTICE
 1. Style the article with flexbox make it a container.
 2. Style the sections inside the article to be identifiable
 3. show main axis and cross axis on the article
 4. direction of the main axis using the row, row-reverse, column, column-reverse
 5. show writing mode and direction affect on main axis and cross axis
 6. wrapping items - flex-wrap: wrap, nowrap
 7. flex-flow shorthand property
 8. sizing using flex shorthand - flex-grow, flex-shrink, flex-basis
 9. space distribution - justify-content, align-content, place-content
 10. aligning items - align-items, align-self
 */

 hr {
    margin-block: 40px;
 }

 .fard {
    background: black;
    /* padding:30px; */
    color:#fff;
    border:1px solid purple;
 }

 .fard-container {
    display: flex;
    /* padding:20px; */
    height:300px;
    width:200px;
    border:1px solid red;
    flex-flow: column wrap;
    align-items: center;
    /* justify-content:space-around; */
    /* align-content: space-between; */
    /* place-content: space-around; */
 }

  .leavemealone {
    /* align-self:center; */
  }
 /*
 GRID LAYOUT PRACTICE
 1. Style the article with grid layout make it a grid container.
 2. 
    - create rows and columns on the grid container (use grid-template-rows and grid-template-columns) 
    - gap property - row-gap, column-gap, gap
 3. show the grid overlay using developer tools 
 4. show how the fr unit works, and using it in combination with other units
 5. show the use of minmax() and repeat() functions
 6. use of grid lines to place items on the grid - grid-column-start, grid-column-end, grid-row-start, grid-row-end
 7. show stacking of items when overlap from grid lines
 8. use of grid-area to place items on the grid
 9. space distribution - justify-content, align-content, place-content
 10. alignment of items - justify-items, align-items, place-items
 11. alignment of individual items - justify-self, align-self
*/

.grid-item {
    background: #245;
    color:#fff;
    padding:10px;
    border:1px solid orange;
}

.grid-container-1 {
    display:grid;
    grid-template-columns:repeat(5, minmax(100px, 40%));
    gap:10px;
    border:1px solid green;
    padding:20px;
}

.item-3 {
    grid-column-start:1;
    grid-column-end: 3;
}

.grid-container-2 {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "sidebar content content content"
    "sidebar footer footer footer";
    gap:10px;
}

.grid-container-2 header {
    background:red;
    grid-area: header;
}

.grid-container-2 aside {
    background: yellow;
    grid-area: sidebar;
}

.grid-container-2 main {
 background: orange;
    grid-area: content;
}

header {
    display:flex;
    flex-wrap: wrap;
}

/* CSS rules go here */
@media media-type and (media-feature-rule) {
  /* CSS rules go here */
}

@media (max-height: 600px) {
   /* Styles for screens wider than 600px */
    body {
     background-color: #ffcc00;
    }
}

@media print {
  h1 {
    color:red;
  }
}

@media (max-width: 50rem) {
   /* Styles for viewports between 300px and 500px. */
    body {
     background-color: #00ff00;
    }
  /* Styles for viewports wider than 50em and narrower than 60em. */
}


@media (orientation: landscape) {
   /* Styles for landscape mode. */
   body::after {
    content: "Landscape";
  }

  body {
    background-color: aqua;
  }
}

@media (orientation: portrait) {
   /* Styles for portrait mode. */
   body::after {
    content: "Portrait";
  }
/* 
  body {
    background-color: #245;
  } */
}



/* responsive typography - show scaling of text based on viewport width and use of clamp*/



